body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background: #121212;
	width: 100vw;
	height: 100vh;
}


blog {
	margin: 40px auto;
	padding: 20px;
	background: #2c2c2c;
	box-shadow: -5px 6px 8px rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	display: block;
	width: 50%;

	/* Loop the background image (media/pencil.png) make the image really small */
	/* background-image: url('media/pencil.png');
	background-repeat: repeat;
	background-size: 20px 20px; */
	/* Make the background move */
	/* animation: moveBackground 10s linear infinite; */
}

@keyframes moveBackground {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 100px 100px;
	}
}

blog > header {
	background: #1e1e1eee;
	padding: 20px;
	border-radius: 7px;
	font-size: 2.0em;
	color: #ffffff;
}

blog > entries {
	margin: 20px 0;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
blog > entries > entry {
	background: #1e1e1eee;
	padding: 15px;
	border-radius: 7px;
	color: #ffffff;
}
blog > entries > entry > date {
	font-size: 1.0em;
	color: #888888;
}
blog > entries > entry > info {
	font-size: 1.5em;
	margin-left: 8px;
}
blog > entries > entry > content {
	display: flex;
	flex-direction: row;
	gap: 10px;
}
blog > entries > entry > content > img {
	width: 35%;
	height: auto;
	border-radius: 5px;
}